<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="utf-8">
    <title>Epicodus Public Library</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4">
          <h2>There are no copies of {{book.getTitle}} available at this time!</h2>
          <h4><a href="/patron/{{patron.getId}}">Try another one</a></h4>
        </div>
        <div class="col-xs-4">
        </div>
      </div>
    </div>
  </body>
</html>
